.body-style{
    background-color: #999999;
}
#user-edit-box{
    width: 1280px;
    height: 680px;
    background-color: #444444;
    border-radius: 5px;
}
#user-table-box{
    width: 910px;
    height: 410px;
    margin-left: 15%;
    background-color: #666666;
    border-radius: 5px;
}
#user-table-bar-box{
    margin-left: 15%;
    width: 900px;
    height: 30px;
    background-color: #666666;
    border-radius: 5px;
    position:relative;
}
table{
    border-radius: 5px;
}
tr:hover{
    background-color: #3875d7;
}
td{
    text-align: center;
    width: 180px;
    border-radius: 5px;
    color: #FFFFFF;
}
td:hover{
    text-align: center;
    width: 150px;
    border-radius: 5px;
    color: #000000;
}
#bar-box{
    list-style-type: none;
    margin-left: 25%;

}
#bar-box li{
    margin-left: 1px;
    float: left;
    width:100px;
    height: 30px;
    background-color: #333333;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
#bar-box li:hover{
    margin-left: 1px;
    float: left;
    width:100px;
    height: 30px;
    background-color: #3875d7;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
#bar-box li>a{
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
}
#user-edit-box2{
    width: 350px;
    height: 300px;
    background-color: #444444;
    border-radius: 5px;
    position: absolute;
    display: none;
    z-index:9999;
    margin-left: 10%;
}
#user-edit-box2 a{
    color: #FFFFFF;
    margin-left: 20px;
}
#user-edit-box2 input{
    margin-left: 20px;
    position: absolute;
}
#submit-button
{
    width: 50px;
    height: 20px;
    color: #FFFFFF;
    background-color: #999999;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:10px;
    position: relative;
}
#delete-button
{
    width: 50px;
    height: 20px;
    color: #FFFFFF;
    background-color: #999999;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:10px;
    position: relative;
}
#add-button
{
    width: 50px;
    height: 20px;
    color: #FFFFFF;
    background-color: #999999;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:10px;
    position: relative;

}
#cancel-button{
    width: 50px;
    height: 20px;
    color: #FFFFFF;
    background-color: #999999;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:10px;
    position: relative;
}
#mar-box {
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
}
#user-table-box:hover {
background-color: #3875d7;
}