.body-style{
    background-color: #999999;
}
#user-edit-box{
    width: 1280px;
    height: 680px;
    background-color: #444444;
    border-radius: 5px;
}
#left-box{
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
    height: 650px;
    border-radius: 5px;
    background-color: #666666;
    position: absolute;
}
#left-box:hover{
    background-color: #3875d7;
}
#suite-list{
    width: 180px;
    height: 600px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #999999;
    border-radius: 5px;
    position: relative;
}
#suite-list-bar-box{
    margin-left: 10px;
    margin-top: 5px;
    width: 180px;
    height: 25px;
    background-color: #999999;
    border-radius: 5px;
    position:relative;
}

#suite-bar-box{
    list-style-type: none;
    margin-left: -20px;
    margin-top: -10px;

}
#suite-bar-box li {
    margin-top: 2.5px;
    margin-left: 2px;
    float: left;
    width: 70px;
    height: 20px;
    background-color: #333333;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    color: #FFFFFF;
    position: relative;
}
#suite-bar-box li:hover{
    background-color: #3875d7;
}
/*topºÏ*/
#top-box{
    margin-left: 225px;
    margin-top: 15px;
    width: 600px;
    height: 320px;
    background-color: #666666;
    border-radius: 5px;
    position: absolute;
}
#top-box:hover{
    background-color: #3875d7;
}
#suite-table{
    width: 580px;
    height: 265px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #999999;
    border-radius: 5px;
    position: relative;
}
#suite-table-bar-box{
    margin-left: 10px;
    margin-top: 10px;
    width: 580px;
    height: 30px;
    background-color: #999999;
    border-radius: 5px;
    position:relative;
}
#suite-table-bar-ul{
    list-style-type: none;
    margin-top: -10px;
    margin-left: 5%;

}
#suite-table-bar-ul li{
    margin-left: 2px;
    float: left;
    width:100px;
    height: 30px;
    background-color: #333333;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
#suite-table-bar-ul li:hover{
    background-color: #3875d7;
}
/*µ×ºÏ*/
#bottom-box{
    margin-left: 225px;
    margin-top: 345px;
    width: 600px;
    height: 320px;
    background-color: #666666;
    border-radius: 5px;
    position:absolute;
}
#bottom-box:hover{
    background-color: #3875d7;
}
#item-table{
    width: 580px;
    height: 265px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #999999;
    border-radius: 5px;
    position: relative;
}
#item-table-bar-box{
    margin-left: 10px;
    margin-top: 10px;
    width: 580px;
    height: 30px;
    background-color: #999999;
    border-radius: 5px;
    position:relative;
}
#item-table-bar-ul{
    list-style-type: none;
    margin-top: -10px;
    margin-left: 5%;

}
#item-table-bar-ul li{
    margin-left: 2px;
    float: left;
    width:100px;
    height: 30px;
    background-color: #333333;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
#item-table-bar-ul li:hover{
    background-color: #3875d7;
}
/*ÓÒºÏ*/
#right-box{
    margin-top: 15px;
    margin-left: 835px;
    width: 430px;
    height: 650px;
    position: absolute;
    background-color: #666666;
    border-radius: 5px;
}
#right-box:hover{
    background-color: #3875d7;
}
#step-table{
    width: 410px;
    height: 590px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #999999;
    border-radius: 5px;
    position: relative;
}
#step-table-bar-box{
    margin-left: 10px;
    margin-top: 10px;
    width: 410px;
    height: 30px;
    background-color: #999999;
    border-radius: 5px;
    position:relative;
}
#step-table-bar-ul{
    list-style-type: none;
    margin-top: -10px;
    margin-left: 5%;

}
#step-table-bar-ul li{
    margin-left: 2px;
    float: left;
    width:80px;
    height: 30px;
    background-color: #333333;
    filter: Alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
#step-table-bar-ul li:hover{
    background-color: #3875d7;
}